<% tab "employees" %>
<h3>Employee Details</h3>

<div class="form-horizontal">
	<div class="control-group">
		<label class="control-label">ID:</label>
		<div class="controls">
			<%= content_tag :span, @employee.id, {:class => "uneditable-input"} %></label>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">First Name:</label>
		<div class="controls">
			<%= content_tag :span, @employee.first_name, {:class => "uneditable-input"} %></label>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Middle Name:</label>
		<div class="controls">
			<%= content_tag :span, @employee.middle_name, {:class => "uneditable-input"} %></label>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Last Name:</label>
		<div class="controls">
			<%= content_tag :span, @employee.last_name, {:class => "uneditable-input"} %></label>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">Street:</label>
		<div class="controls">
			<%= content_tag :span, @employee.address, {:class => "uneditable-input"} %></label>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">City:</label>
		<div class="controls">
			<%= content_tag :span, @employee.city, {:class => "uneditable-input"} %></label>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">State:</label>
		<div class="controls">
			<%= content_tag :span, @employee.state, {:class => "uneditable-input"} %></label>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">ZIP:</label>
		<div class="controls">
			<%= content_tag :span, @employee.zip, {:class => "uneditable-input"} %></label>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<%= link_to 'Delete', @employee, {method: :delete, :confirm => "Are you sure?", :class => "btn btn-danger"}  %>
			<%= link_to 'Edit', edit_employee_path(@employee), :class => "btn" %>
		</div>
	</div>
</div>