<% tab "departments" %>
<%= form_for(@department) do |f| %>

<div class="form-horizontal">
	<div class="control-group">
		<%= f.label :id, {:class => "control-label"}%>
		<div class="controls">
			<%= content_tag :span, @department.id, {:class => "uneditable-input"} %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :name, {:class => "control-label"}%>
		<div class="controls">
			<%= f.text_field :name %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :open_time, {:class => "control-label"}%>
		<div class="controls">
			<%= f.text_field :open_time %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :close_time, {:class => "control-label"}%>
		<div class="controls">
			<%= f.text_field :close_time %>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<%= link_to_if @department.id?, 'Cancel', @department, {:class => "btn"} do %>
		    	<%= link_to "Cancel", departments_path, :class => "btn" %>
		    <% end %>
			<%= f.submit 'Save', :class => "btn btn-success"%>
		</div>
	</div>
</div>
<% end %>