<% tab "schedule" %>
<div class="row-fluid">
	<div class="span4">
		<%= collection_select :department, :id, @departments, :id, :name, :prompt => "Department" %>
	</div>
	<div class="span4 input-prepend input-append">
		<%= link_to "<", shift_url(:department_id => @department.id, :date => (@date - 1).strftime(@urlFormat)), {:class => "btn"} %>
		<%= text_field "Date", @date, {:maxlength => 10, :id => "date", :value => @date.strftime(@textFormat), :class => "input-medium"} %>
		<%= link_to ">", shift_url(:department_id => @department.id, :date => (@date + 1).strftime(@urlFormat)), {:class => "btn"} %>
	</div>
</div>
<div id="calendar">
</div>
<script type="text/javascript">
	var department = <%= raw(@department.to_json) %>;
	var date_format = <%= @date.strftime(@urlFormat) %>;
</script>