<% tab "schedule" %>
<div class="row-fluid">
	<div class="span4">
		<%= collection_select :department, :id, @departments, :id, :name, :prompt => "Department" %>
	</div>
	<div class="span4 input-prepend input-append">
		<%= link_to "<", shift_url(:department_id => @department.id, :date => (@date - 1).strftime(@urlFormat)), {:class => "btn"} %>
		<%= text_field "Date", @date, {:maxlength => 10, :id => "Date", :value => @date.strftime(@textFormat), :class => "input-medium"} %>
		<%= link_to ">", shift_url(:department_id => @department.id, :date => (@date + 1).strftime(@urlFormat)), {:class => "btn"} %>
	</div>
</div>
<div id="calendar">
</div>

<script type="text/javascript">
	$("#Date").datepicker({
		dateFormat : "yymmdd",
		onSelect : function (date, e) {window.location = "/shifts/<%= @department.id %>/" + date;}
	});

	$("#department_id").change(function () { window.location = "/shifts/" + $(this).val() + "/<%= @date.strftime(@urlFormat) %>"; });
	
	$(document).ready(function() {
    	$('#calendar').fullCalendar({
        	header: {
				left: '',
				center: '',
				right: ''
			},
			year: <%= @date.year %>,
			month: <%= @date.month - 1 %>,
			date: <%= @date.day %>,
			defaultView: 'resourceDay',
			firstDay: 0, 	
			editable: true,
			selectable: true,
			minTime: 4,
			maxTime: 22,
			selectHelper: true,
			columnFormat: "HH<br>mm",
			resources: "/shift/resources/<%= @department.id %>/<%= @date.strftime(@urlFormat) %>",
			events: "/shift/<%= @department.id %>/<%= @date.strftime(@urlFormat) %>.json",
			ignoreTimezone: true,
			eventDataTransform: function (eventData) { 
				eventData.title = eventData.department_id;
				eventData.allDay = false;
				eventData.resource = eventData.employee_id;
				return eventData;
			},
			select: function(start, end, allDay, jsEvent, view, resource) {
					$('#calendar').fullCalendar('renderEvent',
						{
							title: '<%= @department.name %>',
							start: start,
							end: end,
							allDay: false,
							resource: resource.id
						}, true);
						
						$.ajax(
						{
							url: "/shift",
							type: "POST",
							data: 
							{
								shift: 
								{
									start: start,
									end: end,
									department_id: <%= @department.id %>,
									employee_id: resource.id
             					}
             				}
						});

				$('#calendar').fullCalendar('unselect');
			},
			eventClick: function(calEvent, jsEvent, view) {
        	    // change the border color just for fun
        		$(this).css('border-color', 'red');
			}
		});
		//$('#calendar th').each(function () {
    	//	$(this).css({"width": ""});
    	//});
    	//$(window).off("resize");
    	$('.fc-grid table').addClass("table table-striped table-bordered table-condensed");
	});
</script>