<% tab "schedule" %>
<div class="row-fluid">
	<div class="span4">
		<%= collection_select :department, :id, @departments, :id, :name, :prompt => "Department" %>
	</div>
	<div class="span4 input-prepend input-append">
		<%= link_to "<", shift_url(:department_id => @department.id, :date => (@date - 1).strftime(@urlFormat)), {:class => "btn"} %>
		<%= text_field "Date", @date, {:maxlength => 10, :id => "Date", :value => @date.strftime(@textFormat), :class => "input-medium"} %>
		<%= link_to ">", shift_url(:department_id => @department.id, :date => (@date + 1).strftime(@urlFormat)), {:class => "btn"} %>
	</div>
</div>
<div id="calendar">
</div>

<script type="text/javascript">
	$("#Date").datepicker({
		onSelect : function (date, e) {
			$('#calendar').fullCalendar('gotoDate', $(this).datepicker("getDate"));
		}
	});

	$("#department_id").change(function () { window.location = "/shifts/" + $(this).val() + "/<%= @date.strftime(@urlFormat) %>"; });
	
	$(document).ready(function() {
    	$('#calendar').fullCalendar({
        	header: {
				left: 'title',
				center: 'today prev,next',
				right: 'resourceWeek resourceDay'
			},
			year: <%= @date.year %>,
			month: <%= @date.month - 1 %>,
			date: <%= @date.day %>,
			defaultView: 'resourceDay',
			firstDay: 0, 	
			editable: true,
			selectable: true,
			minTime: 4,
			maxTime: 22,
			selectHelper: true,
			columnFormat: "HH<br>mm",
			resources: "/shift/resources/<%= @department.id %>/<%= @date.strftime(@urlFormat) %>",
			events: "/shift/<%= @department.id %>.json",
			ignoreTimezone: false,
			viewDisplay: function (view) {
				// alert($('#calendar').fullCalendar.options.editable);
				// $('#calendar').fullCalendar.editable = false;
			},
			eventDataTransform: function (eventData) { 
				return shiftToEvent(eventData);
			},
			select: function(start, end, allDay, jsEvent, view, resource) {
				event = 
					{
						title: '<%= @department.name %>',
						start: start,
						end: end,
						allDay: false,
						resource: resource.id,
					};
					
				$.ajax(
					{
						url: "/shift",
						type: "POST",
						data: eventToShift(event),
						success: function (data) {
							$('#calendar').fullCalendar('renderEvent', shiftToEvent(data));
						},
					});

				$('#calendar').fullCalendar('unselect');
			},
			eventMouseover: function ( event, jsEvent, view ) 
			{
					var close = $('<div/>', {
						id: 'deleteEvent',
						href: '#'
					});
					$(close).append($('<i/>', {class: 'icon-remove'}));
					$(close).click(function () {
						$.ajax(
							{
								url: "/shift/" + event.id + ".json",
								type: "DELETE",
							});
						$('#calendar').fullCalendar('refetchEvents');
					});
					$(this).find('.fc-event-inner').append(close);
			},
			eventMouseout: function ( event, jsEvent, view ) 
			{
				$('#deleteEvent').remove();
			},
			eventDrop: function( event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view ) 
			{
				updateShift(event);
			},
			eventResize: function( event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view ) 
			{
				updateShift(event);
			},
		});
    	$('.fc-grid table').addClass("table table-striped table-bordered table-condensed");
	});
	
	function updateShift(event)
	{
		$.ajax(
		{
			url: "/shift/" + event.id + ".json",
			type: "PUT",
			data: eventToShift(event),
		});
	}
	function eventToShift(event)
	{
		if (event.resource instanceof Array)
			event.resource = event.resource[0];

		return { 
			shift: 
			{
				id: event.id,
				employee_id: event.resource,
				department_id: <%= @department.id %>,
				start: $.fullCalendar.parseDate(event.start).toUTCString(),
				end: $.fullCalendar.parseDate(event.end).toUTCString(), 
			}
		};
	}

	function shiftToEvent(shift)
	{
		return { 	
					id: shift.id,
					resource: shift.employee_id,
					title: "<%= @department.name %>",
					start: shift.start,
					end: shift.end,
					allDay: false,
				};		
	}
</script>