<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8" />

		<!-- Uncomment to make IE8 render like IE7 -->
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

		<!-- Set the viewport width to device width for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

		<!-- Included CSS Files -->
		<%= stylesheet_link_tag    "application" %>

		<!-- Included JS Files  -->
		<%= javascript_include_tag "application" %>

		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container-fluid">
			<h1><%= APP_CONFIG['title_text'] %></h1>
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
						<li <%= "class=active" if @page_tab == "home" %>>
							<%= link_to "Home", root_url %>
						</li>
						<li class="dropdown<%= " active" if @page_tab == "sales" %>">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Sales <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Edit</a></li>
								<li><a href="#">Reports</a></li>
							</ul>							
						</li>
						<li class="dropdown<%= " active" if @page_tab == "schedule" %>">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Schedule <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "Edit", shift_path %></li>
								<li><a href="#">Time Off</a></li>
								<li><a href="#">Reports</a></li>
							</ul>							
						</li>
						<li class="dropdown<%= " active" if @page_tab == "employees" %>">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Employees <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><%= link_to "View", employees_path %></li>
								<li><%= link_to "Create", :controller => "employees", :action => "new" %></li>
							</ul>							
						</li>
						<li <%= "class=active" if @page_tab == "departments" %>>
							<%= link_to "Departments", departments_path %>
						</li>
					</ul>
				</div>				
			</div>
			<div class="row-fluid">
				<div class="span12">
					<% flash.each do |name, msg| %>
					  <% if msg.is_a?(String) %>
					    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
					      <a class="close" data-dismiss="alert">&#215;</a>
					      <%= content_tag :div, msg, :id => "flash_#{name}" %>
					    </div>
					  <% end %>
					<% end %>

					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>